<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".WrightCutApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_scissors_logo"
        android:label="Wright Cut"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Splash Activity (Launcher) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Authentication -->
        <activity android:name=".LoginActivity" android:exported="false" />
        <activity android:name=".RegisterActivity" android:exported="false" />

        <!-- Main Dashboard & Sections -->
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".ServicesActivity" android:exported="false" />
        <activity android:name=".BookAppointmentActivity" android:exported="false" />
        <activity android:name=".GalleryActivity" android:exported="false" />
        <activity android:name=".MyBookingsActivity" android:exported="false" />
        <activity android:name=".SettingsActivity" android:exported="false" />
        <activity android:name=".ContactActivity" android:exported="false" />

    </application>

</manifest>
